*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  background: linear-gradient(90deg, #FDFDFD 32%,   #DCDCDC 100%);
}



/* navbar section */
a{
  text-decoration: none;
}
#nav-menu{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 100px;
 background-color: #DCDCDC;
 
}
.nav-logo{
  font-size: 30px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}
.nav-logo::first-letter{
  font-size: 40px;
  border: 2px solid blue;
  border-right: transparent;
  padding-left: 5px;
  color: #fd4766;
}
.nav-items ul li{
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  
}
.nav-items ul li a{
  color:#1d1d24;
  position: relative;
  padding: 5px 0;
  font-weight: bold;
}
.nav-items ul li a:hover{
  color: #fd4766;
}
.nav-items ul li a::after{
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 3px;
  background: #fd4766;
  transition: .3s;

}
.nav-items ul li a:hover::after{
  width: 100px;
}
.nav-link-resume{
color: #fff;
font-size: 16px;
text-transform: uppercase;
background: #fd4766;
padding: 10px 30px;
border-radius: 500px;
display: inline-block;
font-weight: 500;
transition: all .4s ease-in-out;
border: 2px solid #fd4766;
}
 .nav-link-resume:hover{
background: transparent;
color:#fd4766 ;
} 

/* Home Section */
#home{
 
  border: 1px solid red;
  height:500px;
  margin-top: 50px;
  display: flex;
  margin-bottom: 100px;

}
.container{

  height: 100%;
  width: 50%;
  border: 1px solid blue;
  text-align: center;
  
  
}
.container h1{
  color:#1f1f25;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin-top: 100px;
}
.container h1 span{
  color: #fd4766;
}
#home p{
  color: #1f1f25;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#hire-me{
  color: #fff;
font-size: 16px;
text-transform: uppercase;
background: blue;
padding: 10px 30px;
border-radius: 500px;
display: inline-block;
font-weight: 500;
transition: all .4s ease-in-out;
border: 2px solid blue;
}
#hire-me:hover{
  background: transparent;
  color:blue ;
  } 
#resume-link-1{
  color: #fff;
font-size: 16px;
text-transform: uppercase;
background: #fd4766;
padding: 10px 30px;
border-radius: 500px;
display: inline-block;
font-weight: 500;
transition: all .4s ease-in-out;
border: 2px solid #fd4766;
}
#resume-link-1:hover{
  background: transparent;
  color:#fd4766 ;
  } 
  .home-img img{
    display: block;
    width:90%;
    height:350px;
    border-radius: 15px;
   margin-top: 60px;
   margin-left: 20px;
  }
  .home-img{
   
    border: 1px solid blue;
 
    height: 100%;
    width: 50%;
   } 




  /* About section */
  h1{
    text-align: center;
    font-size: 40px;
    color: blue;
    margin-top: 70px;
   }
 #about{
height:400px;
width:100%;
border:1px solid blue;
margin-top: 40px;
display: flex;
justify-content: space-between;
 }
 #about div{
  height: 100%;
  width:50%;
  border: 1px solid red;
  padding-left: 10px;
  padding-right: 10px;

 }
  .about-img{
  height: 300px;
  width: 450px;
  align-items: center;
  }
 
 .about-img img{

 margin-top: 15px;
 border: 2px solid black;
 border-radius: 50%;
height: auto;
width: 300px;
margin-left: 180px;
 } 
 .container1{
 
  font-size: 20px;
  font-weight: 620;
 }
 
 .container1 h2{
  margin-top: 100px;
 }
 .container1 p{
 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 }



 /* Skills section */

 .container2{
  height:auto;
  border: 1px solid blue;
  margin-top: 50px;
  display: grid;
  gap:10px;
  grid-template-columns: repeat(4,1fr);
 }
 .container2 div{
  border: 1px solid red;
 }
 .skills-card{
  text-align: center;
 }

.skills-card img{
  background-color: #e9eaec;
  border-radius: 5px;
  box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
  height: auto;
  padding: 4%;
  width: 35%;
  transition: transform 0.2s ease-in-out;
 }
 .skills-card img:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  
 }
.skills-card h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #d9b60e;
}

/* Project section */
.container3{
  margin-top: 50px;
  height: auto;
  width: 100%;
  border: 1px solid blue;
  display: grid;
  gap: 50px;
  row-gap: 30px;
  grid-template-columns:repeat(2,1fr)
}
.container3 div{
  border: 1px solid red;
  text-align: start;
 width:450px;
 padding: 5px 5px;
  
}
.project-card{
  margin-left: 150px;
  width: auto;
  padding: 10px 10px;
  -webkit-padding-start: 10px;
 height: 500px;
  box-shadow: 0 7px 29px 0 hsla(240,5%,41%,.2);
   transition: transform 0.2s ease-in-out;
}
.project-card:hover{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  
 }
.project-card h3{
  color: #859901;
  font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
  text-align: start;
  
}
.project-card img{
  height: 50%;
  width:100%;
  margin-bottom: 10px;
  
}
.project-tech-stack{
  color: #b57615;
    font-size: 20px;
}
.project-tech-stack span{
  color: black;
}
.project-card a{
  margin-left: 40px;
 
}
.project-github-link{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  background: blue;
  padding: 10px 30px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all .4s ease-in-out;
  border: 2px solid blue;
}

.project-github-link:hover{
  background: transparent;
  color:blue ;
  } 
  .project-deployed-link{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #fd4766;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: 2px solid #fd4766;
  }
  
  .project-deployed-link:hover{
    background: transparent;
    color:#fd4766 ;
    } 


    /* Github Section */
    .container4{
      height: auto;
      width: 100%;
      border:1px solid blue;
      margin-top: 50px;
    }
    #react-activity-calendar{
      text-align: center;
      margin-top: 20px;
      border: 1px solid red;
     
    }
    
    #react-activity-calendar img{
      height:250px;
      width:auto;
    }
    .stats{
      margin-top: 20px;
      border: 1px solid red;
      height:auto;
      display: grid;
      gap:10px;
      grid-template-columns: repeat(3 , 1fr);
    }
    .stats div{
      margin-left: 50px;
      border: 1px solid blue;
      height: 100%;
      width:auto;
      padding: 10px;
     
    }
    .github img{
      height: 100%;
      width: 100%;
    }